In [1]:
d={'name':'Jagadeesh','Age':'22'}    ### Dictionaries

In [6]:
for i in d.keys():
    print(i)

name
Age

In [7]:
for i in d.values():
    print(i)

Jagadeesh
22

In [8]:
dict={"name":"srinu","location":"Anakapalle","status":"married"}

In [10]:
dict["name"]      #### To print individual values

'srinu'

In [11]:
dict["location"]

'Anakapalle'

In [12]:
dict["status"]

'married'

In [13]:
for i in dict.values():        ### To print only values
    print(i)

srinu
Anakapalle
married

In [14]:
for i in dict.keys():       ### To print only keys
    print(i)

name
location
status

In [17]:
for(x,y) in dict.items():    ### To print both keys and values
    print(x,"-",y)

name - srinu
location - Anakapalle
status - married

In [18]:
dict["tagname"]="A good person"      ### To add other values to dictionary

In [19]:
dict

{'name': 'srinu',
 'location': 'Anakapalle',
 'status': 'married',
 'tagname': 'A good person'}

In [20]:
dict["location"]="Madhya Pradesh"   ### Change of location

In [21]:
dict

{'name': 'srinu',
 'location': 'Madhya Pradesh',
 'status': 'married',
 'tagname': 'A good person'}

In [24]:
test case=int(input())
m=int(input())
cost=9
sum=0
for i in range(1,m+1):
    if (m==1):
        cost*m=cost
        sum+=cost
    else:
        cost*m=cost
print(sum)

SyntaxError: can't assign to operator (<ipython-input-24-d3ed62e4be2a>, line 7)

In [1]:
tou=(1,2,3,4)     ### Tuples

In [2]:
tou

(1, 2, 3, 4)