In [2]:
a="HI"   ####### storing values into list
b=list(a)
print(b)

['H', 'I']

In [3]:
a=input()    ## by giving input we have to store the values in list
b=list(a)        *** list function used here to store values
print(b)

hello
['h', 'e', 'l', 'l', 'o']

In [4]:
s=[1,2,3,4]
print(sum(s))   **** sum function

10

In [6]:
b=list(a)       #### converting back the list elements into string
s=""
for i in b:
    s+=i
print(s)

hello

In [1]:
a=[21,25,92,23,70]   ####### largest value is 92 but if we want second largest no. then we have to remove large no. 
and print max value
a.remove(max(a))           **** remove function
max(a)

70

In [10]:
a=[100,22,34,4,56]
a.sort()   ###### using sort function
print(a)

[4, 22, 34, 56, 100]

In [7]:
a=[100,22,34,4,56]
b=sorted(a)           #### **** sorting of elements by taking variable ,using sort function
print(b)

[4, 22, 34, 56, 100]

In [8]:
b=sorted(a,reverse=True)    #####  **** Descending order using reverse function
print(b)

[100, 56, 34, 22, 4]

In [15]:
fromrange=int(input())
torange=int(input())       ##### Even and odd numbers average 
evenList=[]
oddList=[]
for i in range(fromrange,torange):
    if i%2==0:
        evenList.append(i)
    else:
        oddList.append(i)
print("Average of even numbers is ",sum(evenList)/len(evenList))
print("Average of odd numbers is ",sum(oddList)/len(oddList))
print(evenList)
print(oddList)

1
15
Average of even numbers is  8.0
Average of odd numbers is  7.0
[2, 4, 6, 8, 10, 12, 14]
[1, 3, 5, 7, 9, 11, 13]

In [6]:
n=int(input())
samplelist=[]                    ##### sum of odd and even numbers
sum=0
sum1=0
for i in range(n):
    
    samplelist.append(i)
    
print(samplelist)

for j in samplelist:
    if j%2==0:
        sum=sum+j
    else:
        sum1=sum1+j
print("Even sum= ",sum)
print("Odd sum= ",sum1)

5
[0, 1, 2, 3, 4]
Even sum=  6
Odd sum=  4

In [7]:
###: Sets 

s={"praveen","Sravani","Pradeep"}

In [8]:
s

{'Pradeep', 'Sravani', 'praveen'}

In [9]:
s[0]    ### wrong case since sets is unordered list

TypeError: 'set' object is not subscriptable

In [10]:
s.add("Bilal")

In [11]:
s

{'Bilal', 'Pradeep', 'Sravani', 'praveen'}

In [4]:
s={'Bilal', 'Pradeep', 'Sravani', 'praveen'}
s.update(["Rama","Lakshmi","Siri"])   # Update is used to add multiple elements
print(s)

{'Siri', 'Bilal', 'Rama', 'praveen', 'Lakshmi', 'Pradeep', 'Sravani'}

In [8]:
s.discard("Pradeep")

In [9]:
s

{'Bilal', 'Lakshmi', 'Rama', 'Siri', 'Sravani', 'praveen'}

In [10]:
s1={"Neeharika","Mounika"}

In [12]:
s.union(s1)

{'Bilal',
 'Lakshmi',
 'Mounika',
 'Neeharika',
 'Rama',
 'Siri',
 'Sravani',
 'praveen'}

In [13]:
s.update(s1)

In [14]:
s

{'Bilal',
 'Lakshmi',
 'Mounika',
 'Neeharika',
 'Rama',
 'Siri',
 'Sravani',
 'praveen'}